h1{
    font-size: 50px;
    font-family: 'Segoe UI',sans-serif;
    color: rgb(7, 1, 63);

}

.forms{
    margin-left: 40%;
    align-items: 'center';
    justify-content: 'center';
}

p{font-size: 25px;

    color: rgb(0, 0, 0);
    font-family: 'Segoe UI',sans-serif;
}

.boton{
    color: gray;
    font-size: 25px
}

.logo{
    width: 200px;
    height: 300px;

}

